@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --brand-primary: #c1282d;
  --brand-secondary: #020304;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --font-sans: var(--font-barlow);
  --font-display: var(--font-alfa);
  --font-hellsrider: var(--font-metal);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  letter-spacing: 0.01em;
}

@layer base {
  h1, h2, h3 {
    font-family: var(--font-display);
    letter-spacing: 0.05em;
  }
}
